:root {
    --color-primary: #08b2c9;
    --color-secondary: #28527a;
    --color-light: #dbf6e9;
    --color-dark: #151515;
  }

.detailStyle {
    background: var(--color-primary);
    padding: 1.5rem;
    text-align: center;
    display: flex;
    justify-content:center; 
    margin-bottom: 1.5rem;
    width: 50%;
    border-radius: 2%;
    scale: 75%;

}
.roundImage {
    border-radius: 50%;
    opacity: 0.9;
  }
 
