:root {
    --color-primary: #08b2c9;
    --color-secondary: #28527a;
    --color-light: #dbf6e9;
    --color-dark: #151515;
  }

  .favoriteCardItem {
    display: flex;
    flex-wrap: inherit;
    margin-top: 0.01rem;
    margin-bottom: 2.5rem;
    justify-content: center;
    padding-top: 1rem;
    margin: 0.5rem;
    flex-direction: row;
    margin-top: 3rem;
    scale: 100%;
    width: 89%;
    color: var(--color-primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .orderFilter {
    display: flex;
    flex-direction: inherit;
    z-index: -1;
    width: 10rem;
    height: 2rem;
    margin-top: -2rem;
    margin-left: 3rem;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5rem;
  }

  .filter {
      display: flex;
      flex-direction: inherit;
      z-index: -1;
      width: 10rem;
      height: 2rem;
      margin-top: -2rem;
      margin-left: 14rem;
      background-color: var(--color-primary);
      border-radius: 2rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size:1.5rem;
    }
  



